@model HelloAguekeng.WebApp.Models.UserModel
@{
    ViewBag.Title = "User edit";
}
@using (Html.BeginForm(Model.Id ==0 ? "Edit" : "Create","User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <a href="@Url.Action("Index", "User")"><i class="fa-regular fa-circle-chevron-left"></i>Back</a>
    <h1>@ViewBag.Title</h1>
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="row">
        @Html.HiddenFor(x => x.Id)
        <div class="col-md-6">
            <div class="form-floating mb-2">
                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                @Html.LabelFor(x => x.FullName)
            </div>
            <div class="form-floating mb-2">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                @Html.LabelFor(x => x.UserName)
            </div>
            <div class="form-floating mb-2">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", value = Model.Password })
                @Html.LabelFor(x => x.Password)
            </div>
            <div class="form-floating mb-2">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", value = Model.Password })
                @Html.LabelFor(x => x.ConfirmPassword)
            </div>
            <div class="form-floating mb-2">
                @Html.DropDownListFor(x => x.ProfileSelectedValue, Model.Profiles, "Choose a profile", new { @class = "form-control" })
                @Html.LabelFor(x => x.ProfileSelectedValue)
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-2" style="text-align:center">
                <img id="@Html.IdFor(x => x.Picture)" src="@Model.Image" class="img-thumbnail img-fluid" style="cursor:pointer;height:230px" />
                <input type="file" id="@Html.IdFor(x => x.Image)" name="@Html.NameFor(x => x.Image)" accept="image/*" style="display:none" />
            </div>
            <div class="checkbox mb-2">
                <label>
                    @Html.CheckBoxFor(x => x.Status) <span id="@Html.IdFor(x => x.StatusName)">@Model.StatusName</span>
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit">Save</button>
        </div>
    </div>


}
<script>
    window.addEventListener('load', function () {
        var status = document.getElementById('@Html.IdFor(x => x.Status)');
        var statusName = document.getElementById('@Html.IdFor(x => x.StatusName)');
        var picture = document.getElementById('@Html.IdFor(x => x.Picture)');
        var image = document.getElementById('@Html.IdFor(x => x.Image)');
        status.addEventListener('click', function () {
            if (this.checked)
                statusName.innerHTML = 'Enable';
            else
                statusName.innerHTML = 'Disable';
        });
        picture.addEventListener('click', function () {
            image.click();
        });
        image.addEventListener('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                picture.src = e.target.result;
            };
            reader.readAsDataURL(image.files[0]);
        });
    });
</script>
